<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"Title>
    <title>Registro</title>
</head>
<body>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Nome</label>
            <input type="name" class="form-control" id="inputName" placeholder="Nome">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputcpf">CPF</label>
            <input type="cpf" class="form-control" id="inputcpf" placeholder="cpf">
        </div>
        <div class="form-group col-md-6">
            <label for="inputbirthDate">Data de nascimento</label>
            <input  class="form-control" id="inputbirthDate" placeholder="data de nascimento">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-primary" onclick= onFormClick() >Criar Conta</button>
            </div>
        </div>
    </div>


</form>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script type="text/javascript" src="/js/UserRegister.js" ></script>


</body>
</html>